@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

@import url('./loader.css');


img{
    filter: sepia(90%);
    height: 50px;
    width: 50px;
    float: inherit;
}




.my-article{
    font-family: "Seymour One", sans-serif;
    height: 100px;
    width: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
    line-height: 140%;
    text-decoration: underline;
    letter-spacing: 2px;

}






:root{
    --red-color:rgb(237, 75, 16);
    --title-size:19px;
}


.my-text{
    color: var(--red-color);
    font-size: var(--title-size);
    background-color: green;
}

#my-title{
    color: var(--red-color);
    font-size: var(--title-size);
    background-color: green;
}

li{
    color: blue;
    font-size: var(--title-size);
}

.btn{
    cursor:progress;
    color: white !important;
    border: none;
    border-radius: 6px;
    background: rgb(145, 37, 245);
    padding: 4px 40px 4px 40px;
    margin: 20px 20px 20px 100px;

}

